<%= render "dashboards/dashboard_header" %>

<nav>
  <ul>
    <li><%= link_to "Search for Mentors", search_path %></li>
    <li><%= link_to "Calendar", pages_path %></li>
    <li><%= link_to "Leader Boards", leaderMentor_path %></li>
  </ul>
</nav>

<div>
    <% if notice %>
        <div class="flash flash__notice">
            <%= notice %>
        </div>
    <% end %>

    <div class="stats">
        <h2>Your Points: <h2>
        <h3><%= (User.find_by(email:current_admin.email)).points %></h3>
    </div>
    
<div>

<%= render "dashboards/dashboard_footer" %>