<%= render "dashboards/dashboard_header" %>

<nav>
  <ul>
    <li ><%= link_to "Manage Users", users_path %></li>
    <li><%= link_to "Calendar", pages_path %></li>
    <li class="active"><%= link_to "Leaderboard", leader_path %></li>
  </ul>
</nav>

<div class="table-header"><h2>Mentors Leader board</h2></div>

<div class="admin-table-container">
  <div id="users">
      <table>
          <thead>
          <tr>
              <th class="user-column">Rank</th>
              <th class="user-column">Name</th>
              <th class="user-column">Hours</th>
              <th class="user-column">Points</th>
          </tr>
          </thead>
          <tbody>
          <% @ranking1.each do |rank| %>
          <tr>
              <td><%= @ranking1.find_index(rank) + 1 %></td>
              <td><%= rank[0].first_name %></td>
              <td> <%= rank[0].hour %> </td>
              <td> <%= rank[0].points %> </td>
     
          </tr>
          <% end %>
          </tbody>
      </table>
    </div>
    <br>
  </div>

<div class="table-header"><h2>Mentees Leader board</h2></div>
<div class="admin-table-container">
  <div id="users">
      <table>
          <thead>
          <tr>
              <th class="user-column">Rank</th>
              <th class="user-column">Name</th>
              <th class="user-column">Points</th>
          </tr>
          </thead>
          <tbody>
          <% @ranking2.each do |rank| %>
          <tr>
              <td><%= @ranking2.find_index(rank) + 1 %></td>
              <td><%= rank[0].first_name %></td>
              <td> <%= rank[0].points %> </td>
             
          </tr>
          <% end %>
          </tbody>
      </table>
    </div>
    <br>
  </div>
  </div>


<div class="table-header"><h2> Points Leader board</h2></div>
<div class="admin-table-container">
  <div id="users">
      <table>
          <thead>
          <tr>
              <th class="user-column">Rank</th>
              <th class="user-column">Name</th>
              <th class="user-column">Points</th>
          </tr>
          </thead>
          <tbody>
          <% @ranking3.each do |rank| %>
          <tr>
              <td><%= @ranking3.find_index(rank) + 1 %></td>
              <td><%= rank[0].first_name %></td>
              <td> <%= rank[0].points %> </td>
              
          </tr>
          <% end %>
          </tbody>
      </table>
    </div>
    <br>
  </div>
  </div>
  
  <%= render "dashboards/dashboard_footer" %>
</div>