<div class="dashboard-header">
  <h1 class="dashboard-title">Admin Dashboard</h1>
  <div class="sign-out"><%= button_to "Sign Out", destroy_admin_session_path, class: "sign-in-out-button" %></div>
</div>
<nav>
  <ul>
    <li><%= link_to "Manage Users", users_path %></li>
    <li class="active"><%= link_to "Calendar", pages_path %></li>
  </ul>
</nav>

<div class="form-box">
  <h3>New Event</h3>

  <%= render "form", consultation: @consultation %>

  <br>

  <div>
    <div class="form-button"><%= link_to "Back to Calendar", pages_path %></div>
  </div>
</div>
