<p style="color: green"><%= notice %></p>

<%= render @consultation %>

<%= form_tag check_code_consultation_path(@consultation), method: :post do %>
  <%= hidden_field_tag :code, "" %>
  <%= text_field_tag :code_input, "", placeholder: "Enter code" %>
  <%= submit_tag "Check Code" %>
<% end %>

<div>
  <%= link_to "Edit this consultation", edit_consultation_path(@consultation) %> |
  <%= link_to "Back to consultations", consultations_path %>

  <%= button_to "Destroy this consultation", @consultation, method: :delete %>
</div>
