<!--<%= render @consultation %>

<div>
  <%= link_to "Edit this event", edit_consultation_path(@consultation) %> |
  <%= link_to "Back to events", consultations_path %>

  <%= button_to "Destroy this event", @consultation, method: :delete %>
</div>-->

<%= render "dashboards/dashboard_header" %>

<nav>
  <ul>
    <li><%= link_to "Manage Users", users_path %></li>
    <li class="active"><%= link_to "Calendar", pages_path %></li>
  </ul>
</nav>

<div class="form-box">
  <%= link_to "Back to Calendar", pages_path %>
  <p>
  <h5>Deleting this event will destroy all of its data. Are you sure you want to proceed?</h5>
  <p>
  <%= button_to "Confirm", @consultation, method: :delete %>
</div>
