<%= form_with(model: user) do |form| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <label for="user_first_name" style="display: block">First Name*</label>
    <%= form.text_field :first_name, required: true, disabled: false %>
  </div>

  <div>
    <label for="user_first_name" style="display: block">Last Name*</label>
    <%= form.text_field :last_name, required: true, disabled: false %>
  </div>

  <div>
    <label for="user_first_name" style="display: block">Email*</label>
    <%= form.text_field :email, required: true, disabled: false %>
  </div>

  <div>
    <label for="user_first_name">Role*</label>
    <%= form.select :role, [['Admin', 'Admin'], ['Mentor', 'Mentor'], ['Mentee', 'Mentee']], { include_blank: true }, { style: "display: block", required: true } %>
  </div>

  <div>
    <%= form.label :year, style: "display: block" %>
    <%= form.select :year, [['Freshman', 'Freshman'], ['Sophomore', 'Sophomore'], ['Junior', 'Junior'], ['Senior','Senior'], ['Supersenior', 'Supersenior'], ['Grad Student', 'Grad Student']], { include_blank: true }, { style: "display: block" } %>
  </div>

  <%= form.fields_for :course_users do |course_user_form| %>
    <%= course_user_form.fields_for :courses do |course_form| %>
      <p>
        <%= course_form.label :department, style: "display: block" %>
        <%= course_form.text_field :department %>
      </p>
      <p>
        <%= course_form.label :code, style: "display: block" %>
        <%= course_form.text_field :code %>
      </p>
    <% end %>
  <% end %>

  <div>
    <%= form.submit data: { confirm: 'Warning: All hour and point data will be lost. Are you sure you want to change the role?' } %>
  </div>
<% end %>
