<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%
=begin%>
 <p>
    <%= form.label :consultations %><br />
    <% for consultation in Consultation.all %>
      <%= check_box_tag "user[consultation_ids][]", consultation.id, @user.consultations.include?(consultation) %>
      <%=h consultation.name %><br />
      <% end %>
  </p> 
<%
=end%>

  <%= @user.consultations.ids %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.text_field :status %>
  </div>

  <div>
    <%= form.label :year, style: "display: block" %>
    <%= form.number_field :year %>
  </div>

  <div>
    <%= form.label :hour, style: "display: block" %>
    <%= form.number_field :hour %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
