<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <label for="first_name">First Name</label>
    <%= form.text_field :first_name, disabled: false %>
  </div>

  <div>
    <%= form.label :last_name, style: "display: block" %>
    <%= form.text_field :last_name, disabled: false %>
  </div>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email, disabled: false %>
  </div>

  <div>
    <%= form.label :role, style: "display: block" %>
    <%= form.select :role, [['Admin', 'admin'], ['Mentor', 'mentor'], ['Mentee', 'mentee']], {}, { style: "display: block" } %>
  </div>

  <div>
    <%= form.label :year, style: "display: block" %>
    <%= form.select :year, [['Freshman', 'freshman'], ['Sophomore', 'sophomore'], ['Junior', 'junior'], ['Senior','senior'], ['Supersenior', 'supersenior'], ['Grad Student', 'grad student']], {}, { style: "display: block" } %>
  </div>

  <%= form.fields_for :course_users do |course_user_form| %>
    <%= course_user_form.fields_for :courses do |course_form| %>
      <p>
        <%= course_form.label :department, style: "display: block" %>
        <%= course_form.text_field :department %>
      </p>
      <p>
        <%= course_form.label :code, style: "display: block" %>
        <%= course_form.text_field :code %>
      </p>
    <% end %>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
