<tr id="<%= dom_id user %>">
  <td class="user-column"><%= user.first_name %></td>
  <td class="user-column"><%= user.last_name %></td>
  <td class="user-column"><%= user.email %></td>
  <td class="user-column"><%= user.role %></td>
  <td class="user-column"><%= user.year %></td>
  <td><%= link_to "Edit this user", edit_user_path(user)%>
</tr>
