<div id="<%= dom_id user %>">
  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= user.status %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= user.year %>
  </p>

  <p>
    <strong>Hour:</strong>
    <%= user.hour %>
  </p>


    <strong>Courses taken:</strong>
    <ul>
      <% user.courses.each do |course| %>
        <li><%= course.department %> <%= course.code %></li>
      <% end %>
    </ul>
  </p>
</div>
