<%= render "dashboards/dashboard_header" %>

<nav>
  <ul>
    <li class="active"><%= link_to "Manage Users", users_path %></li>
    <li><%= link_to "Calendar", pages_path %></li>
    <li><%= link_to "Leaderboard", leader_path %></li>
  </ul>
</nav>

<div class="form-box">
  <%= link_to "Back to users", users_path %>
  <p>
  <h3>Edit User</h3>
  <%= render "form", user: @user %>

  <br>

  <div class="form-button" style="background-color:rgb(154, 27, 27)">
    <%= link_to 'Delete this user', @user, method: :delete, data: { confirm: "Are you sure?" } %>
  </div>
</div>

<%= render "dashboards/dashboard_footer" %>