<%= render "dashboards/dashboard_header" %>

<nav>
  <ul>
    <li class="active"><%= link_to "Manage Users", users_path %></li>
    <li><%= link_to "Calendar", pages_path %></li>
  </ul>
</nav>

<div class="form-box">
  <%= render "form", user: @user %>

  <br>

  <div>
    <%= link_to "Show this user", @user %> |
    <%= link_to "Back to users", users_path %>
  </div>
</div>

<%= render "dashboards/dashboard_footer" %>