<%= render "dashboards/dashboard_header" %>

<nav>
  <ul>
    <li class="active"><%= link_to "Manage Users", users_path %></li>
    <li><%= link_to "Calendar", pages_path %></li>
  </ul>
</nav>
<div class="form-box">
  <h1>New user</h1>

  <%= render "form", user: @user %>

  <br>

  <div>
  <div class="form-button"><%= link_to "Back to Users", users_path %></div>
  </div>
</div>

<%= render "dashboards/dashboard_footer" %>