<%= render "dashboards/dashboard_header" %>

<nav>
  <ul>
    <li class="active"><%= link_to "Manage Users", users_path %></li>
    <li><%= link_to "Calendar", pages_path %></li>
  </ul>
</nav>
<div class="form-box">
  <%= link_to "Back to users", users_path %>
  <p>
  <h1>New user</h1>

  <%= render "form", user: @user %>
</div>

<%= render "dashboards/dashboard_footer" %>