<%= render "dashboards/dashboard_header" %>

<nav>
  <ul>
    <li class="active"><%= link_to "Search for Mentors", search_path %></li>
    <li><%= link_to "Calendar", pages_path %></li>
    <li><%= link_to "Leaderboard", leaderMentor_path %></li>
  </ul>
</nav>

<div class="stats">
  <%= form_tag search_path, method: :get do %>
      Search mentors by Department (CSCE, MEEN, ENGR, etc.) or by Course (CSCE 431, BUSN 101, etc.) or by Hobby:
      <%= text_field_tag :search, params[:search], :required => 'required' %>
      <%= submit_tag "Search", :name => nil %>
  <% end %>

  <p style="color: red"><%= alert %></p>
  <p style="color: blue"><%= notice %></p>
  
  <div class="user-container">
  <h1>Users</h1>

    <div id="users">
      <table class="user-table"> 
        <thead>
          <tr>
            <th class="user-column">First Name</th>
            <th class="user-column">Last Name</th>
            <th class="user-column">Email</th>
            <th class="user-column">Role</th>
            <th class="user-column">Year</th>
            <th class="user-column">Courses Taken</th>
            <th class="user-column">Hobbies</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <%= render partial: 'user', locals: { user: user } %>
          <% end %>
        </tbody>
      </table>
    </div>
    <br>
  </div>
  </div>
</div>

<%= render "dashboards/dashboard_footer" %>