<%= render "dashboards/dashboard_header" %>

<% if current_admin.mentee? %>
  <nav>
    <ul>
      <li class="active"><%= link_to "Search for Mentors", search_path %></li>
      <li><%= link_to "Calendar", pages_path %></li>
      <li><%= link_to "Leaderboard", leaderMentor_path %></li>
    </ul>
  </nav>
<% elsif current_admin.admin? %>
  <nav>
    <ul>
      <li class="active"><%= link_to "Manage Users", search_path %></li>
      <li><%= link_to "Calendar", pages_path %></li>
      <li><%= link_to "Leaderboard", leader_path %></li>
    </ul>
  </nav>
<% end %>

<div class="user-container">
  <%= form_tag search_path, method: :get do %>
      Search mentors by Department (CSCE, MEEN, ENGR, etc.) or by Course (CSCE 431, BUSN 101, etc.) or by Hobby:
      <%= text_field_tag :search, params[:search], :required => 'required' %>
      <%= submit_tag "Search", :name => nil %>
  <% end %>

  <p style="color: red"><%= alert %></p>
  <p style="color: blue"><%= notice %></p>
  
  <div class="user-container">
  <h1>Users</h1>

    <div id="users">
      <table class="user-table"> 
        <thead>
          <tr>
            <th class="user-column">First Name</th>
            <th class="user-column">Last Name</th>
            <th class="user-column">Email</th>
            <th class="user-column">Role</th>
            <th class="user-column">Year</th>
            <th class="user-column">Courses Taken</th>
            <th class="user-column">Hobbies</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <%= render partial: 'user', locals: { user: user } %>
          <% end %>
        </tbody>
      </table>
    </div>
    <br>
    <% if current_admin.admin? %>
      <div class="form-button" style="background-color:rgb(32, 154, 40)">
        <%= link_to "Add User", new_user_path %>
      </div>
    <% end %>
  </div>
</div>

<%= render "dashboards/dashboard_footer" %>