<div>
  <%= link_to "Back to Mentee Dashboard", root_path %>
</div>

<h1>Users</h1>

<%= form_tag search_path, method: :get do %>
    Department (CSCE, MEEN, ENGR, etc.) or Course (CSCE 431, BUSN 101, etc.):
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
<% end %>

<p>-------------------------</p>

<div id="users">
  <% @users.each do |user| %>
    <%= render user %>
    <p>-------------------------</p>
  <% end %>
</div>

<br>

<%= link_to "Return to all users", search_path %>