<p style="color: green"><%= notice %></p>

<div>
  <%= link_to "Back to users", users_path %>
</div>

<%= render @user %>

<div>
  <%= link_to "Edit this user", edit_user_path(@user) %> |
  <%= button_to "Delete this user", @user, method: :delete, data: {confirm: "Are you sure?"} %>
</div>