<p style="color: green"><%= notice %></p>

<div>
  <%= link_to "Back to users", users_path %>
</div>

<%= render @user %>

<div>
  <%= link_to "Edit this user", edit_user_path(@user) %> |
<<<<<<< HEAD
  <%= button_to "Destroy this user", @user, method: :delete%>
</div>
=======

  <%= button_to "Destroy this user", @user, method: :delete%>
</div>

>>>>>>> 28102d068c5e4c1314a1534300a907aff7198f28
