<%= render "dashboards/dashboard_header" %>

<nav>
  <ul>
    <li><%= link_to "Manage Users", search_path %></li>
    <li class="active"><%= link_to "Calendar", pages_path %></li>
    <li><%= link_to "Leaderboard", leader_path %></li>
  </ul>
</nav>

<div class="backgroundBody">
    <div class="container mt-5 text-center">
        <div class="form-button"><%= link_to "Create New Event", new_consultation_path %></div>
        <br>
        <% if notice %>
            <div class="flash flash__notice">
                <%= notice %>
            </div>
        <% end %>
        <%= month_calendar(events: @consultations) do |date, consultations| %>
            <div class="day">
                <%= date.day %>
            </div>
            <div class="meetings">
                <% consultations.each do |consultation| %>
                    <div class="card-header2">
                        <h5 class="card-title">
                            <%= link_to consultation.title, edit_consultation_path(consultation) %>
                        </h5>
                        <p class="card-text">
                            <%= consultation.start_time.strftime('%I:%M %p') %>
                            to <%= consultation.end_time.strftime('%I:%M %p') %>
                        </p>
                    </div>
                <% end %>
            </div>
        <% end %>
    </div>
</div>

<%= render "dashboards/dashboard_footer" %>