<%= render "dashboards/dashboard_header" %>

<% if current_admin.mentor? %>
    <nav>
    <ul>
        <li><%= link_to "Log Tutoring Hours", add_hours_path %></li>
        <li><%= link_to "Add Courses to Profile", add_courses_path %></li>
        <li><%= link_to "Calendar", pages_path %></li>
        <li><%= link_to "Leader Boards", leaderMentor_path %></li>
    </ul>
    </nav>
<% elsif current_admin.mentee? %>
    <nav>
    <ul>
        <li><%= link_to "Search for Mentors", search_path %></li>
        <li class="active"><%= link_to "Calendar", pages_path %></li>
        <li><%= link_to "Leader Boards", leader_path %></li>
    </ul>
    </nav>
<% end %>

<div class="backgroundBody">
    <div class="container mt-5 text-center">
        <h1 style="color: white;">Calendar</h1>
        <% if notice %>
            <div class="flash flash__notice">
                <%= notice %>
            </div>
        <% end %>
        <%= month_calendar(events: @consultations) do |date, consultations| %>
            <div class="day">
                <%= date.day %>
            </div>
            <% consultations.each do |consultation| %>
                <div class="card-header2">
                    <h5 class="card-title">
                        <%= link_to consultation.title, consultation %>
                    </h5>
                    <p class="card-text">
                        <%= consultation.start_time.strftime('%A, %I:%M %p') %>
                        to <%= consultation.end_time.strftime('%A, %I:%M %p') %>
                    </p>
                </div>
            <% end %>
        <% end %>
    </div>
</div>

<%= render "dashboards/dashboard_footer" %>