<div class="dashboard-header">
  <a class="dashboard-title" href="/"><h1>Mentor Dashboard</h1></a>
  <div class="sign-out"><%= button_to "Sign Out", destroy_admin_session_path, class: "sign-in-out-button" %></div>
</div>
<nav>
  <ul>
    <li class="active"><%= link_to "Log Tutoring Hours", add_hours_path %></li>
    <li><%= link_to "Add Courses to Profile", add_courses_path %></li>
    <li><%= link_to "Calendar", pages_path %></li>
  </ul>
</nav>

<div class="form-box">
  <h3>Log Hours</h3>
  <p>
  <%= render "dashboards/mentor/hours_form" %>
</div>