<%= render "dashboard_header" %>

<nav>
  <ul>
    <li><%= link_to "Log Tutoring Hours", add_hours_path %></li>
    <li><%= link_to "Calendar", pages_path %></li>
  </ul>
</nav>

<div>
    <% if notice %>
        <div class="flash flash__notice">
            <%= notice %>
        </div>
    <% end %>

    <div class="stats">
        <h2>Your Hours: <h2>
        <h3><%= (User.find_by(email:current_admin.email)).hour %></h3>
    </div>
    
<div>