<%= render "dashboards/dashboard_header" %>

<nav>
  <ul>
    <li><%= link_to "Log Tutoring Hours", add_hours_path %></li>
    <li><%= link_to "Add Courses to Profile", add_courses_path %></li>
    <li><%= link_to "Calendar", pages_path %></li>
    <li><%= link_to "Leader Boards", leaderMentor_path %></li>
  </ul>
</nav>

<div class="stats">
    <% if notice %>
        <div class="flash flash__notice">
            <%= notice %>
        </div>
    <% end %>
    <h2>Your Hours: </h2>
    <h3><%= (User.find_by(email:current_admin.email)).hour %></h3>
    <h2>Your Classes: </h2>
    <h5>
      <ul>
        <% User.find_by(email:current_admin.email).courses.each do |course| %>
          <li><%= course.department %> <%= course.code %></li>
        <% end %>
      </ul>
    </h5>
</div>
<%= render "dashboards/dashboard_footer" %>
